In [1]:
# Assignment 2 - Pandas Introduction
#All questions are weighted the same in this assignment.
## Part 1
#The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning.

#The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

import pandas as pd

#Importing the data to a dataframe
df = pd.read_csv('data/olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index)
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [2]:
### Question 1
#**Which country has won the most gold medals in summer games?
#*This function should return a single string value.*
def answer_one():
    return df["Gold"].idxmax()

answer_one()

'United States'

In [5]:
### Question 2
#**Which country had the biggest difference between their summer and winter gold medal counts?
#*This function should return a single string value.*
def answer_two():
    return (df['Gold'] - df['Gold.1']).idxmax()

answer_two()

'United States'

In [3]:
### Question 3
#**Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?
#
# CALC = (Summer~Gold - Winter~Gold) / Total~Gold
#
# Only include countries that have won at least 1 gold in both summer and winter.
#
#*This function should return a single string value.*
def answer_three():
    # Dataframe with countries that have won at least 1 gold in both competitions
    only_gold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0))
    only_gold.dropna(inplace=True)

    # Calculating the biggest difference
    country = abs((only_gold['Gold'] - only_gold['Gold.1']) / (only_gold['Gold'] + only_gold['Gold.1'])).idxmax()

    return country

answer_three()

'Bulgaria'

In [4]:
### Question 4
#**Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.
#*This function should return a Series named `Points` of length 146
def answer_four():
    df['Points'] = df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']
    return df['Points']

answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64